<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
</head>
<body>
    <div class="container">
        <h1>MyPage</h1>

        <div class="container">
            <h1>비밀번호 변경</h1>
            <div class="form-group">
                <label for="password">password</label>
                <input type="text" class="form-control" id="password" name="password" placeholder="기존 비밀번호 ">
            </div>
            <div class="form-group">
                <label for="newPassword">password</label>
                <input type="text" class="form-control" id="newPassword" name="newPassword" placeholder="변경 비밀번호">
            </div>
            <div class="form-group">
                <label for="checkPassword">password</label>
                <input type="text" class="form-control" id="checkPassword" name="checkPassword" placeholder="변경 비밀버호 재입력">
            </div>

            <button type="submit" id="changePasswordButton" onclick="changePassword()" class="btn btn-primary">비밀번호 변경</button>
        </div>

    </div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    function changePassword() {
        let password = $('#password').val();
        let newPassword = $('#newPassword').val();
        let checkPassword = $('#checkPassword').val();

       $.ajax({
         type: "PUT",
         url: `/member/updatePassword`,
         contentType: "application/json",
         data: JSON.stringify({ password: password, newPassword: newPassword, checkPassword: checkPassword }),
         success: function () {
                alert("비밀번호 변경 완료")
           window.location.href = `/homePage`;
         },

         error: function(xhr){
            try{
                const errorResponse = JSON.parse(xhr.responseText);
                alert(errorResponse.message);
            }
            catch(e){
                alert("비밀번호 변경 중 문제 발생")
            }
         }
       });
    }
</script>
</html>